/*==== IMPORTS =================*/
@import url("./elements/_button.css");
@import url("./elements/_contact-form.css");
@import url("./elements/_container-flex.css");
@import url("./elements/_container-grid.css");
@import url("./elements/_heading.css");
@import url("./elements/_hero.css");
@import url("./elements/_icon-and-logo.css");
@import url("./elements/_link.css");
@import url("./elements/_margin.css");
@import url("./elements/_navbar.css");
@import url("./elements/_paginator.css");
@import url("./elements/_project-card.css");
@import url("./elements/_scrollbar.css");
@import url("./elements/_section.css");
@import url("./elements/_tag-filter.css");

/*==== GLOBAL STYLING ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  color: #343a40;
  line-height: 1;
}

.hidden {
  display: none;
}

/*==== MEDIA QUERIES ===========*/
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
}