/*==== IMPORTS =================*/
@import url("./elements/_button.css");
@import url("./elements/_contact-form.css");
@import url("./elements/_container-flex.css");
@import url("./elements/_container-grid.css");
@import url("./elements/_heading.css");
@import url("./elements/_hero.css");
@import url("./elements/_link.css");
@import url("./elements/_margin.css");
@import url("./elements/_message.css");
@import url("./elements/_navbar.css");
@import url("./elements/_paginator.css");
@import url("./elements/_project-card.css");
@import url("./elements/_scrollbar.css");
@import url("./elements/_section.css");
@import url("./elements/_tag-filter.css");

/*==== GLOBAL STYLING ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  color: #343a40;
  line-height: 1;
}

.hidden {
  display: none;
}

/*==== MEDIA QUERIES ===========*/
@media (max-width: 86em) {
  .hero {
    max-width: 120rem;
  }

  .heading1 {
    font-size: 4.4rem;
    margin-bottom: 2.4rem;
  }

  .hero-introduction {
    font-size: 2rem;
    margin-bottom: 2.4rem;
  }

  .section-showcase,
  .section-contact {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .container-contact {
    margin: 0 auto;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .container-hero {
    position: relative;
    max-width: none;
    width: 100%;
  }

  .aesthetic {
    background-color: rgba(73, 80, 87, 0.85);
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100em;
    color: #f8f9fa;
    padding: 0 9.6rem;
    margin: 0 auto;
  }

  .hero-links .btn--cta:link,
  .hero-links .btn--cta:visited {
    background-color: #0c8599;
    border: 1px solid #f8f9fa;
  }

  @media (hover: hover) {
    .hero-links .btn--cta:link:hover,
    .hero-links .btn--cta:visited:hover {
      background-color: #0c8599;
      border: 1px solid #f8f9fa;
    }
  }

  .hero-links .btn--cta-alt:link,
  .hero-links .btn--cta-alt:visited {
    color: #f8f9fa;
    border: 1px solid #adb5bd;
  }

  @media (hover: hover) {
    .hero-links .btn:link:hover,
    .hero-links .btn:visited:hover {
      box-shadow: 0 0 1.6rem rgba(255, 255, 255, 0.5);
    }
  }

  .hero-whitespace {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .hero-whitespace img {
    margin: 0 auto;
  }

  .project-showcase-grid {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-bottom: 4.8rem;
  }

  .no-flexbox-gap-support .project-info-and-links-container:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  .project-showcase-grid .project-info-and-links-container:last-child {
    display: none;
  }

  .project-info-and-links-container {
    width: 400px;
    justify-self: center;
  }

  .project-list-grid {
    grid-template-columns: 1fr;
  }

  .container-flex-1-to-2 {
    display: flex;
  }
}

@media (max-width: 58em) {
  .header-nav {
    padding: 0 3.2rem;
  }

  .hero-content {
    padding: 0 4.8rem;
  }

  .section-showcase,
  .section-contact {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  .project-info-and-links-container {
    width: 400px;
    justify-self: center;
  }

  .project-list-grid {
    column-gap: 3.2rem;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 50%;
  }

  .header-nav {
    padding: 0 1.6rem;
  }

  .hero-content {
    padding: 0 2.4rem;
  }


  .project-info-and-links-container {
    max-width: 320px;
  }

  .heading2 {
    font-size: 4.4rem;
  }

  .subheading {
    margin-bottom: 0.4rem;
  }
}

@media (max-width: 40em) {
  .hero-content {
    align-items: center;
  }

  .hero-introduction {
    text-align: center;
  }

  .project-list-grid {
    grid-template-columns: 1fr;
  }

  /* PROJECT-LIST */
  .collapse-nav .btn--collapse {
    display: inline-block;
  }

  .filter-container {
    background-color: rgba(73, 80, 87, 0.97);
    position: fixed;
    top: -100%;
    right: 0;
    bottom: 100%;
    left: 0;
    display: flex;
    transition: transform 0.5s;
    padding-top: 7.8rem;
    padding-bottom: 2rem;
    margin-bottom: 0;
    z-index: 3;
  }

  .slide-in {
    transform: translateY(100%);
  }

  .tag-filter-form {
    position: unset;
    justify-self: center;
    align-self: center;
    font-size: 2.4rem;
    background-color: transparent;
    color: #f8f9fa;
    border: none;
    border-radius: 0;
    margin: 0 auto;
  }

  .tag-filter-title {
    display: none;
  }

  .tag-filter-checkbox {
    border-color: #f8f9fa;
    background-color: #e9ecef;
    width: 1.4rem;
    height: 1.4rem;
  }

  .tag-filter-checkbox:before {
    box-shadow: inset 1.2rem 1.2rem #0b7285;
  }

  .tag-filter-buttons {
    border: 1px solid #f8f9fa;
  }

  .filter-btn--submit {
    background-color: #0c8599;
  }
}


@media (max-width: 32em) {
  .nav-link-list li:first-child {
    margin-right: 0;
  }

  .header-nav {
    padding: 0;
  }

  .heading2 {
    font-size: 3.6rem;
  }

  .margin-bottom-48 {
    margin-bottom: 3.2rem;
  }

  .project-info-and-links-container {
    max-width: 300px;
  }

  .contact-form-field input,
  .contact-form-field textarea {
    width: 100%;
    padding: 0.8rem 1.2rem;
  }
}

/*==== OLDER BROWSER FIXES =====*/
.no-flexbox-gap-support .contact-form-field:not(:last-child) {
  margin-bottom: 2.4rem;
}

.no-flexbox-gap-support .contact-form-field label {
  margin-right: 0.8rem;
}

.no-flexbox-gap-support .project-list-grid {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.no-flexbox-gap-support .hero-links a:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap-support .project-card-links-container a:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap-support .project-tag-bar li:not(:last-child) {
  margin-right: 1rem;
}

.no-flexbox-gap-support .tag-filter-form div {
  margin-top: 2.4rem;
}

.no-flexbox-gap-support .checkboxes:not(:last-child) {
  margin-bottom: 1.2rem;
}

.no-flexbox-gap-support .checkboxes li .tag-filter-checkbox {
  margin-right: 1.2rem;
}