.btn,
.btn:link,
.btn:visited {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 9px;
  transition: 0.3s;
  padding: 0.8rem 2.4rem;
}

@media (hover: hover) {
  .btn:hover,
  .btn:link:hover,
  .btn:visited:hover {
    color: #fff;
    box-shadow: 0 10px 36px 5px rgba(0, 0, 0, 15%);
  }
}

.btn:active,
.btn:link:active,
.btn:visited:active {
  box-shadow: none;
}

.btn--cta,
.btn--cta:link,
.btn--cta:visited {
  background-color: #15aabf;
  color: #f8f9fa;
  border: 1px solid #0b7285;
}

@media (hover: hover) {
  .btn--cta:hover,
  .btn--cta:link:hover,
  .btn--cta:visited:hover {
    background-color: #0b7285;
  }
}

.btn.btn--cta-alt:link,
.btn.btn--cta-alt:visited {
  color: #343a40;
  background-color: transparent;
  border: 1px solid #212529;
}

@media (hover: hover) {
  .btn.btn--cta-alt:hover {
    background-color: #495057;
    color: #fff;
  }
}
