/* GENERAL PURPOSE FLEX CONTAINERS: */
.container-flex-col-130 {
  max-width: 130rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container-flex-col-120 {
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container-flex-1-to-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.rename {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* CONTACT FORM RELATED FLEX CONTAINERS */
.social-media-link {
  display: flex;
  gap: 1.6rem;
}