/* GENERAL PURPOSE GRID CONTAINERS: */
.container-grid-3col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.container-grid-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* PROJECT RELATED GRID CONTAINER VARIATIONS: */
.project-showcase-grid {
  align-items: start;
  overflow: hidden;
  column-gap: 4.8rem;
  margin: 0 auto 6.4rem auto;
}

.project-list-grid {
  align-items: start;
  column-gap: 4.8rem;
  row-gap: 2.4rem;
  margin-bottom: 3.2rem;
}
