.paginator {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.paginator--top {
  border-bottom: 0.1rem solid #adb5bd;
  padding: 0 0.2rem 0.4rem 0.2rem;
}

.paginator--bottom {
  border-top: 0.1rem solid #adb5bd;
  padding: 0.4rem 0.2rem;
}

.paginator-buttons {
  display: flex;
  gap: 0.8rem;
}

.paginator-link:link,
.paginator-link:visited {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #343a40;
}
