.section-hero {
  height: 100vh;
  display: flex;
  background-image: linear-gradient(rgb(181, 181, 179), rgb(255, 255, 255));
}

.section-showcase {
  max-width: 120rem;
  display: flex;
  padding: 9.6rem 0;
  margin: 0 auto;
}

.section-contact {
  max-width: 120rem;
  display: flex;
  padding: 9.6rem 0;
  margin: 0 auto;
}

.section-header {
  display: flex;
  flex-direction: column;
}

.section-project-list {
  max-width: 120rem;
  display: flex;
  padding-top: 9.6rem;
  margin: 0 auto;
}