.tag-filter-title {
  align-self: flex-start;
  font-weight: 500;
}

.tag-filter-form {
  position: -webkit-sticky;
  position: sticky;
  top: 11.2rem;
  display: flex;
  width: inherit;
  flex-direction: column;
  border: 1px solid #adb5bd;
  border-radius: 9px;
  background-color: white;
  padding: 3.2rem 3.2rem;
  color: #343a40;
  font-size: 2.0rem;
  gap: 2.4rem;
  margin-right: 4.8rem;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.2rem;
  padding: 0 0.4rem;
}

.checkboxes li {
  display: flex;
  gap: 1.2rem;
}

.tag-filter-checkbox {
  display: grid;
  place-content: center;

  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.05rem solid #868e96;
  border-radius: 1px;
  transform: translateY(0.35rem);
  margin: 0;
}

.tag-filter-checkbox::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  transform: scale(0);
  transition: 0.2s transform ease-in-out;
  box-shadow: inset 1.2rem 1.2rem #15aabf;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.tag-filter-checkbox:checked::before {
  transform: scale(1);
}

.tag-filter-buttons {
  display: flex;
  width: 100%;
  border: 1px solid #343a40;
  border-radius: 9px;
  overflow: hidden;
}

.filter-btn {
  /*Negate differences between anchor and button.*/
  text-decoration: none;
  text-align: center;
  border: none;
  background-color: transparent;
  line-height: normal;
  cursor: pointer;
  color: #f1f3f5;
  font-weight: normal;
  font-family: inherit;

  /*Actual properties.*/
  font-size: 2rem;
  padding: 0.2rem 1.6rem;
  transition: 0.4s;
}

.filter-btn:hover > i {
  transform: scale(1.1);
}

.filter-btn--submit {
  background-color: #15aabf;
  width: 100%;
}

.filter-btn:hover {
  background-color: #0b7285;
}

.filter-btn i {
  position: relative;
  top: 0.3rem;
  margin-right: 0.4rem;
  transition: 0.3s ease-in-out;
}

.filter-btn--clear {
  background-color: #495057;
}

.filter-btn--clear:hover {
  background-color: #d6336c;
}