<!doctype html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'styles/main.css' %}"/>
	<script defer src="https://unpkg.com/phosphor-icons"></script>
	<script defer src="{% static 'js/main.js' %}"></script>
	<title>Karol Milewczyk</title>

</head>

<body>
	<header class="header-nav">
		<ul class="link-list">
			<li><a class="page-link" href="#">Home</a></li>
			<li><a class="page-link" href="#projects">Projects</a></li>
			<li><a class="page-link" href="#">About me</a></li>
			<li><a class="page-link" href="#contact">Contact</a></li>
		</ul>
	</header>
	<main>
		<section class="section-hero">
			<div class="hero">

				<div class="hero-content">
					<h1><span>{{ my_account.first_name }}</span> {{ my_account.last_name }}</h1>
					<p class="hero-introduction">
						{{ my_account.description }}
					</p>
					<div class="hero-links">
						<a class="btn btn--cta" href="#contact">Get in touch</a>
						<a class="btn btn--jump" href="#projects">Learn more &darr;</a>
					</div>
				</div>
				<div class="hero-whitespace">
					<!--					<img src="img/cv_linkedin.jpg" alt="cv picture">-->
					<img src="img/cv_linkedin_alt.jpg" alt="cv picture">
				</div>

			</div>
		</section>
		<section class="section-menu" id="projects">
			<div class="container-flex-col">
				<span class="subheading">Projects</span>
				<h2 class="heading2">My skills in practice</h2>
				<p class="menu-description">
					Feel free to check out my constantly growing project library.
				</p>
				<div class="container-3col">
					<div class="project">
						<div class="container-img">
							<img class="project-img" src="img/project-portfolio.png" alt="project picture">
						</div>
						<div class="project-info">
							<h3 class="project-title">Portfolio</h3>
							<p class="project-description">
								My very own portfolio website, to create it I used my skills in both front and backend.
								This project is also my first "live" website. Thanks to using Django adding or modifying projects saves
								me a lot
								of time and effort while keeping site up to date.
							</p>
						</div>
						<ul class="tag-bar">
							<li><span class="tag">Django</span></li>
							<li><span class="tag">DjangoRESTframework</span></li>
							<li><span class="tag">PostgreSQL</span></li>
							<li><span class="tag">JavaScript</span></li>
							<li><span class="tag">css</span></li>
							<li><span class="tag">html</span></li>
							<li><span class="tag">heroku</span></li>
						</ul>
					</div>
					<div class="project">
						<div class="container-img">
							<img class="project-img" src="img/project-hangman.jpg" alt="project picture">
						</div>
						<div class="project-info">
							<h3 class="project-title">Hangman</h3>
							<p class="project-description">
								My first project with implemented PyGame GUI. Project shows my skills in using OOP
								and basics of Python language.
							</p>
						</div>
						<ul class="tag-bar">
							<li><span class="tag">#python</span></li>
							<li><span class="tag">#javascript</span></li>
							<li><span class="tag">#css</span></li>
							<li><span class="tag">#html</span></li>
							<li><span class="tag">#heroku</span></li>
							<li><span class="tag">#django</span></li>
						</ul>
					</div>
					<div class="project">
						<div class="container-img">
							<img class="project-img" src="img/project-snake.png" alt="project picture">
						</div>
						<div class="project-info">
							<h3 class="project-title">Snake</h3>
							<p class="project-description">
								Classic snake game made with Python's builtin module called "Turtle". To complete this project
								I had to use knowledge in pure Python such as: class inheritance and list slicing.

							</p>
						</div>
						<ul class="tag-bar">
							<li><span class="tag">Python</span></li>
							<li><span class="tag">OOP</span></li>
						</ul>
					</div>
				</div>
				<div class="call-to-action">
					<a class="btn btn--cta btn--cta-alt" href="#">See more projects</a>
				</div>
			</div>
		</section>
		<section class="section-contact" id="contact">
			<div class="container-flex-col">
				<form class="contact-form">
					<div class="contact-form-content-col">
						<div class="contact-form-field">
							<label for="contact-form-name">Your name</label>
							<input id="contact-form-name" type="text" placeholder="Mike Wazowski">
						</div>

						<div class="contact-form-field">
							<label for="contact-form-company">Company</label>
							<input id="contact-form-company" type="text" placeholder="Monsters, Inc.">
						</div>

						<div class="contact-form-field">
							<label for="contact-form-email">E-mail</label>
							<input id="contact-form-email" type="email" placeholder="wazowski@monsters.com">
						</div>

						<div class="contact-form-field">
							<label for="contact-form-message">Message</label>
							<textarea id="contact-form-message" rows="8" cols="40" placeholder="Your message..."></textarea>
						</div>


						<button class="btn btn--submit">Send</button>
					</div>
				</form>
			</div>
		</section>
	</main>


</body>
</html>