<!doctype html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'styles/main.css' %}"/>
	<script defer src="https://unpkg.com/phosphor-icons"></script>
	<script defer src="{% static 'js/main.js' %}"></script>
	<script defer src="{% static 'js/tagbar-animation.js' %}"></script>
	<title>Karol Milewczyk</title>

</head>

<body>
	<header class="header-nav">
		<ul class="nav-link-list">
			<li><a class="page-link" href="#">Home</a></li>
			<li><a class="page-link" href="#projects">Projects</a></li>
			<li><a class="page-link" href="#contact">Contact</a></li>
		</ul>
	</header>
	<main>
		<section class="section-hero">
			<div class="container-hero">
				<div class="aesthetic"></div>
				<div class="hero-content">
					<h1 class="heading1">{{ my_account.first_name }} {{ my_account.last_name }}</h1>
					<p class="hero-introduction">
						{{ my_account.description }}
					</p>
					<div class="hero-links">
						<a class="btn btn--cta" href="#contact">Get in touch</a>
						<a class="btn btn--cta-alt" href="#projects">Learn more</a>
					</div>
				</div>
				<div class="hero-whitespace">
					<img src="{{ my_account.home_img.url }}" alt="cv picture">
				</div>
			</div>
		</section>
		<section class="section-showcase" id="projects">
			<div class="container-flex-col-120 container-showcase">
				<div class="section-header">
					<span class="subheading">Projects</span>
					<h2 class="heading2 margin-bottom-48">My skills in practice</h2>
				</div>
				<div class="container-grid-3col project-showcase-grid">
					{% for project in showcase %}
						<div class="project-info-and-links-container">
							<div class="project-card">
								<div class="container-img">
									<img class="project-img" src="{{ project.thumbnail.url }}" alt="project thumbnail">
								</div>
								<div class="project-info">
									<h3 class="project-title">{{ project.name }}</h3>
									<ul class="project-tag-bar">
										{% for tag in project.tags.all %}
											<li><span class="tag">{{ tag }}</span></li>
										{% endfor %}
										{% for tag in project.tags.all %}
											<li class="hidden-tag hidden"><span class="tag">{{ tag }}</span></li>
										{% endfor %}
									</ul>
									<p class="project-description">
										{{ project.description }}
									</p>
								</div>
							</div>
							<div class="project-card-links-container">
								{% if project.source_code %}
									<a class="btn btn--cta" href="{{ project.source_code }}"
										 target="_blank"
										 rel="noreferrer noopener">Source Code
									</a>
								{% endif %}
								{% if project.demo %}
									<a class="btn btn--cta" href="{{ project.demo }}"
										 target="_blank"
										 rel="noreferrer noopener">Demo
									</a>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="container-flex-center">
					<a class="btn btn--cta" href="{% url 'project-list' %}">Browse more projects</a>
				</div>
			</div>
		</section>
		<section class="section-contact" id="contact">
			<div class="container-contact">
				<div class="section-header">
					<span class="subheading">Contact</span>
					<h2 class="heading2 margin-bottom-48">Let's work together!</h2>
				</div>
				<form class="contact-form" method="POST">
					{% csrf_token %}
					<div class="contact-form-content-col">
						<div class="contact-form-field">
							<label for="contact-form-name">Name
								{% if form.sender_name.field.required %}
									<span class="field-required">&#10035;</span>
								{% endif %}
							</label>
							{{ form.sender_name }}
						</div>
						<div class="contact-form-field">
							<label for="contact-form-email">E-mail
								{% if form.sender_email.field.required %}
									<span class="field-required">&#10035;</span>
								{% endif %}
							</label>
							{{ form.sender_email }}
						</div>
						<div class="contact-form-field">
							<label for="contact-form-company">Company
								{% if form.company.field.required %}
									<span class="field-required">&#10035;</span>
								{% endif %}
							</label>
							{{ form.company }}
						</div>
						<div class="contact-form-field">
							<label for="contact-form-message">Message
								{% if form.message.field.required %}
									<span class="field-required">&#10035;</span>
								{% endif %}
							</label>
							{{ form.message }}
						</div>
						<button class="btn btn--cta">Send</button>
					</div>
				</form>
			</div>
		</section>
	</main>


</body>
</html>